<!-- ============================================================================= 
    📁 base.html.twig ▶ 

    - 
    💻 JKCPROD © 2024 
=================================================================================== -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- 🔖 FAVICON 🔖 -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        <!-- 🔖 LINK 🔖 -->
        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        {# CkEditor #}
        <script src="https://cdn.ckeditor.com/4.22.1/full/ckeditor.js"></script>

        {# Fonts #}
        <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">

        {# Icons - Font Awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        {# Icons - Boxicons #}
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

        {# Bootstrap #}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

 
        <!-- 🔖 CSS 🔖 -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/scroll-bar.css') }}">

        <!-- 🔖 TITLE 🔖 -->
        <title>{% block title %} BREGLER Thomas © 2024{% endblock %}</title>
    </head>

    <body>
    
<!-- ***********************************************************************************
                                🔧 NAVBAR 🔧                     
**************************************************************************************** --> 
        
        {% block body %}


         
            
        {% endblock %}

<!-- ***********************************************************************************
                                🔧 FOOTER 🔧                     
**************************************************************************************** --> 

        {% block footer %}{% endblock %}

<!-- ***********************************************************************************
                                🔧 SCRIPTS 🔧                     
**************************************************************************************** --> 

        <!-- Scripts -->
        
        <script src="{{ asset('assets/js/scripts/admin.js') }}"></script>

        {# <script src="{{ asset('assets/js/script.js') }}"></script> #}

        <!-- ***************************************************************** --> 

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/d2408fdc07.js" crossorigin="anonymous"></script>
        <!-- Gsap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
        <!-- Slick -->
        <script type="text/javascript" src="{{ asset('assets/js/slick-1.8.1/slick/slick.min.js') }}"></script>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>AOS.init();</script> 

        <script>
        
        </script>

    </body>
</html>
